body {background-color: #fefefe}s
h2 {color: #1460AA}
.pon {background-color: pink; font-size: 29px;}
.wto {background-color: yellowgreen; font-size: 29px;}
.sro {background-color: aquamarine; font-size: 29px;}
.headerClass {font-size: 49px; background-color: burlywood}
h1 {font-size: 55px; color: salmon}