body {background-color: #bb9bdf;
      font-size: 23px;
}

main {width: 100%;
      max-width:960px;
      margin: 32px auto;
      background-color: #f7c977;
      padding-left: 15px;
      padding-right: 15px;}



.pon {background-color: pink; font-size: 29px;}

.wto {background-color: yellowgreen; font-size: 29px;}

.sro {background-color: aquamarine; font-size: 29px;}

.headerClass__one {font-size: 49px; 
              background-color:#91c8bf;
              text-decoration: none;
              padding-left: 600px;
              position: sticky;
              height: 9vh;
              padding-top: 14px;
              text-transform: uppercase;
              padding-right: 20px;
              }

h1 {font-size: 55px;
    color: salmon;
letter-spacing:24px;
text-align: center;}

.img_zero {width:40%;
           height: 49;
           float: right;
           padding-left: 14px;}

.img_one {width: 42%;
          height:500px;
          display: block;
          float:left;
          padding-right: 14px;}

.img_two {width:40%;
          height: 49;
          float: right;
          padding-left: 14px;}

.img__three {width: 48%;
            height: 37%;
            float: left;
            padding-rights: 14px;}

footer {font-size: 49px; 
        background-color:#91c8bf;
        text-decoration: none;
        width: 100vw;
        display: block;
        clear: both;
        padding-left: 400px;}

a { 
    width: 25%;
    text-decoration: none;
    border-left: 9px dotted #f7c977;
    text-align: right;
    padding-left: 8px;

    }
.headerClass__last{
     border-right: 9px dotted #f7c977;
     padding-right: 8px; 
}
.hclass {
      letter-spacing: 11px;
      text-align: center;
}


